{% macro cartContent(content) %}
    {%  for item in content %}
        <div class="row cart-content-body">
            <div class="col-6">
                <span class="produit_ref">{{ item.getVariant().getProduit().getReference() }}</span> :
                <span class="produit_des">{{ item.getVariant().getProduit().getMarque().getNom() }} {{ item.getVariant().getProduit().getNom() }}</span>
            </div>
            <div class="col-2">
                <span class="produit_taille">{{ item.getSize() }}</span>
            </div>
            <div class="col-2">
                <span class="qty">{{ item.getQty() }}</span>
            </div>
            <div class="col-2">
                <span class="qty">{{ item.getAmount()|format_currency('EUR') }}</span>
            </div>
        </div>
    {% endfor %}
{% endmacro %}