{% macro cartContent(content) %}
    {%  for item in content %}
        <div class="row cart-content-body  pb-1 pt-1 align-self-center">
            <div class="col-6">
                <span class="produit_ref">{{ item.getVariant().getProduit().getReference() }}</span> :
                <span class="produit_des">{{ item.getVariant().getProduit().getMarque().getNom() }} {{ item.getVariant().getProduit().getNom() }} - {{ item.getVariant().getCouleur().getNom() }}</span>
            </div>
            <div class="col-2">
                <span class="produit_taille">{{ item.getSize() }}</span>
            </div>
            <div class="col-2">
                    <div class="input-group input-group-sm qte-form">
                        <input type="number" name="qte" class="form-control cartqte" placeholder="1" aria-label="Quantité"
                               value="{{ item.getQty() }}" min="1" max="{{ item.getVariant().getStock(item.getSize()) }}"
                               data-initial-value="{{ item.getQty() }}"
                               data-vid="{{ item.getVariant().getId() }}"
                               data-size="{{ item.getSize() }}"
                               data-stock="{{ item.getVariant().getStock(item.getSize()) }}"
                        >
                        <button class="btn btn-outline-secondary btn-remove" type="button"
                                data-vid="{{ item.getVariant().getId() }}"
                                data-size="{{ item.getSize() }}"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </div>
            </div>
            <div class="col-2">
                <span class="amount">{{ item.getAmount()|format_currency('EUR') }}</span>
            </div>
        </div>
    {% endfor %}
{% endmacro %}